<form method="post" action="{{ path('app_planning_delete', {'id': planning.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.id) }}">
    <button class="btn">Delete</button>
</form>
