{% extends "/employee/index.html.twig" %}

{% block title %}Evaluation index{% endblock %}

{% block content %}
    <h1>Create new Evaluation</h1>

    {{ include('/hr_employee/evaluation/_form.html.twig') }}

    <a href="{{ path('app_evaluation_index') }}"><span class="fa fa-chevron-left"></span>Retour au liste</a>
{% endblock %}
