
{% extends "/employee/index.html.twig" %}



{% block content %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Datenaissance</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Lettremotivation</th>
                <th>Cv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>

{% endblock %}
